*{
   background-color: black;
    margin: 0;
    padding: 0;
}

.about{
    position: absolute;
width: 100%;
height: 700px;
top: 140px;

}

 .aboutimg img{
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0px;
    margin-top: 10px; }


.text{
    text-align: center;
    top: 130px;
    
    color: white;
    
   
    font-size: 2em;
    margin-block-start: 0.67em;
    
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

  .lorem1 {
   position: absolute;
    top: 870px;
    margin-left: 100px;
    width: 40%;
    color: white;
    
}
p{
    position: absolute;
    font-family:'Times New Roman', Times, serif;
font-style: normal;
font-weight: 50;
font-size: 30px;
line-height: 30px;
font-style: normal;

color:white;
margin-top: 20px;
}
.lorem2 {
    position: absolute;
    top: 870px;
    left: 700px;
    width: 40%;
    color: white;
   
}
ol{
    position: absolute;
    
    list-style-image:url();
    font-family: 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 31px;
margin-top: 20px;

color: white;

}
.about1{
    position: absolute;
    width: 100%;

top: 1250px;
}
.suren{
    box-sizing: border-box;

    position: absolute;
    width: 250px;
    height: 250px;
    left: 60px;
margin-top: 60px;
    
    background: black;
    border: 4px solid white;
    color: white;
    
}
.p1{
    position: absolute;
    width: 242px;
    height: 180px;
    
}
.shambhu{
    
        box-sizing: border-box;
    
        position: absolute;
        width: 250px;
        height: 250px;
        left: 500px;
    margin-top: 60px;
        
        background:black;
        border: 4px solid white;
        color: white;
}

.prashant{
    
    box-sizing: border-box;

    position: absolute;
    width: 250px;
    height: 250px;
    left: 950px;
margin-top: 60px;
    background: black;
    border: 4px solid white;
    color: white;
    
}
