@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}

body{
    
        /* background-color:#9BA3EB ; */
        background:url(assets/img/loginbg.jpg);
        background-size: cover;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
}
.container{
    background-color: #fff;
    width: 500px;
    padding: 25px 30px;
    border-radius: 5px;
}
.title{
    font-size: 25px;
    font-weight: 600px;
}

.members-details{
    margin-top: 15px;
}
.members-info label{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.members-info input{
    height: 45px;
    width: 70%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom-width: 2px;
   margin:5px 0 10px;
    font-size: 16px;
}
.members-info input:focus{
    border-color: #9B59B6;
}

.button{
    
        height: 45px;
        margin: 15px 0px;
    
  }
  button{
    height: 100%;
    width: 35%;
    font-size: 15px;
    font-weight: 500;
    border-radius: 1px;
    border-color: #9B59B6;
    cursor: pointer;
    
  }
  
  .footer-text {
    font-size: 15px;
    font-weight: 500;
    margin-top: 30px;
    
  }
  a{
      text-decoration: none;
  }